{% load display_tags %}
{% load i18n %}

{% if paginator.num_pages > 1 %}
    <div>  
    {% if page_obj.has_other_pages %}
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li><a class="page-link" href="?{% get_parameters page %}page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><a>{{ i }}<span class="sr-only">(current)</span></a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?{% get_parameters page %}page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a class="page-link" href="?{% get_parameters page %}page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="page-item  disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    </div>
{% endif %}
