Babel==2.8.0
Django==2.2.12
django-environ==0.4.5
django-extra-views==0.11.0
django-haystack==2.8.1
django-oscar==2.0.4
django-phonenumber-field==2.0.1
django-tables2==1.21.2
django-treebeard==4.3.1
django-widget-tweaks==1.4.8
factory-boy==2.12.0
Faker==4.0.3
phonenumbers==8.12.2
Pillow==7.1.1
purl==1.5
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
sorl-thumbnail==12.6.3
sqlparse==0.3.1
text-unidecode==1.3
