
.navbar-accounts .container-fluid .navbar-brand {
  background: url("../img/ui/dashboard/logo_tautoko.png") no-repeat scroll 0 0 transparent;
  text-indent: -9999px;
  display: block;
  width: 60px;
  height: 38px;
  padding: 0;
  margin-left: 0;
  margin-top: 5px;
}
