{% extends "oscar/checkout/checkout.html" %}

{% load currency_filters %}
{% load i18n %}
{% load shipping_tags %}

{% block title %}
    {% trans "Shipping method" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=2 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping method" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block shipping_method %}
    <div class="basket-title">
        <div class="row">
            <h4 class="col-sm-8">{% trans "Method" %}</h4>
            <h4 class="col-sm-3">{% trans "Cost" %}</h4>
        </div>
    </div>
    <!-- loop over partner -->
    <!-- loop over methods with a radio checkboxform -->
    {% for partner, method_list in methods.items %}
        <p>{{ partner }}</p>
        {% for method in method_list %}

        <div class="row">
            <div class="col-sm-8">
                <h4>{{ method.name }}</h4>
                {% if method.description %}
                    <p>{{ method.description|safe }}</p>
                {% endif %}

        </div>

        {% endfor %}
    {% endfor %}
{% endblock shipping_method %}
