{% extends "oscar/checkout/checkout.html" %}
{% load i18n %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}
    {% trans "Payment details" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=3 %}
{% endblock %}

{% block checkout_title %}{% trans "Choose a project you would like to support" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block project_choice %}
<div class="container">
<p>Sur un total de {{ total_free_shipping }} € d'achats hors livraison, <b>{{ donation }} € seront reversé au projet de votre choix.</b><p>
<div class="row row_asso">
{% for project in projet_list %}   
    {%  if forloop.counter|divisibleby:3 %}
        <div class="col-md-4">
            <div class="card">
            {% image project.couverture fill-286x180 as tmp_photo %}
              <img class="card-img-top" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.name }}">
              {% include 'content/partials/project_progress.html' %}
              <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.intro }}</p>
                <p class="card-text"><small class="text-muted">Un projet proposé par <a href="{{ project.asso.url }}">{{project.asso}}</a></small></p>
                <a href="{% url 'checkout:payment-details' %}?pid={{project.pk}}" class="btn btn-primary">Choisir ce projet</a>
              </div>
            </div>
        </div>
    </div>
    {% if not forloop.last %}
    <div class="row row_asso">
    {% endif %}
    {% else %}
        <div class="col-md-4">
            <div class="card">
            {% image project.couverture fill-286x180 as tmp_photo %}
              <img class="card-img-top" src="{{ tmp_photo.url }}" alt="{{ tmp_photo.name }}">
              {% include 'content/partials/project_progress.html' %}
              <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.intro }}</p>
                <p class="card-text"><small class="text-muted">Un projet proposé par <a href="{{ project.asso.url }}">{{project.asso}}</a></small></p>
                <a href="{% url 'checkout:payment-details' %}?pid={{project.pk}}" class="btn btn-primary">Choisir ce projet</a>
              </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
</div>
{% endblock project_choice %}


