{% extends "oscar/checkout/checkout.html" %}

{% load currency_filters %}
{% load i18n %}
{% load shipping_tags %}

{% block title %}
    {% trans "Shipping method" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=2 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping method" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block shipping_method %}



    <!-- loop over partner -->
    <!-- loop over methods with a radio checkboxform -->
    <div class="container">
      {% for partner, method_list in methods.items %}
      <div class="row">
          <h3>{{ partner }}</h3>
      </div>

          <form method="post">

          {% for method in method_list %}
          <div class="row">
          <div class="col-sm-2">
            <p>{{ method.name }}</p>
          </div>
          <div class="col-sm-8">
            <p>{{ method.description }}</p>
          </div>
          <div class="col-sm-1">
            <p>{{ method.charge_incl_tax }}</p>
          </div>
          <div class="col-sm-1">
            <input type="radio" name="radAnswer" />
          </div>
          </div>
          {% endfor %}
          </form>

      {% endfor %}
    </div>


{% endblock shipping_method %}
