{% extends "oscar/checkout/checkout.html" %}

{% load currency_filters %}
{% load i18n %}
{% load shipping_tags %}

{% block title %}
    {% trans "Shipping method" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=2 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping method" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block shipping_method %}



    <!-- loop over partner -->
    <!-- loop over methods with a radio checkboxform -->
    <div class="container">
      <form method="post" action="{% url 'checkout:shipping-method' %}">
      {% for partner, method_list in methods.items %}
      <div class="row">
          <h3>{{ partner }}</h3>
      </div>

          {% for method in method_list %}
          <div class="row">
              <div class="col-sm-2">
                <p>{{ method.name }}</p>
              </div>
              <div class="col-sm-8">
                <p>{{ method.description }}</p>
              </div>
              <div class="col-sm-1">
                <p>{{ method.charge_incl_tax }}</p>
              </div>
              <div class="col-sm-1">
                {% csrf_token %}
                  <input type="hidden" value="{{ method.partner }}">
                  <input type="hidden" value="{{ method.name }}">
                  <input type="radio" name="{{ method.partner }}_shipping">
              </div>
          </div>
          {% endfor %}

      {% endfor %}
      <button type="submit" class="btn btn-primary btn-large ship-address" data-loading-text="{% trans 'Saving...' %}">{% trans "Validate shipping method" %}</button>
      </form>

    </div>


{% endblock shipping_method %}
