{% extends "oscar/checkout/checkout.html" %}

{% load currency_filters %}
{% load i18n %}
{% load shipping_tags %}

{% block title %}
    {% trans "Shipping method" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' with step=2 %}
{% endblock %}

{% block checkout_title %}{% trans "Shipping method" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block shipping_method %}



    <!-- loop over partner -->
    <!-- loop over methods with a radio checkboxform -->
    <div class="container">

      <form method="post" action="{% url 'checkout:shipping-method' %}">
      {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {% if field.label == 'partner name' %}
              {{ field.value }}
            {% endif %}
            {% if field.label == 'radio' %}
              {{ field }}
            {% endif %}
        </div>
        {% endfor %}

      <button type="submit" class="btn btn-primary btn-large ship-address" data-loading-text="{% trans 'Saving...' %}">{% trans "Validate shipping method" %}</button>
      </form>

    </div>


{% endblock shipping_method %}
