{% extends "base_content.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailimages_tags %}


{% block body_class %}template-contentindexpage{% endblock %}

{% block content %}

<!-- Page Header -->
{% image page.image max-1000x500 as tmp_photo %}
<header class="masthead" style="background-image: url('{{ tmp_photo.url }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ page.title }}    {{ settings.settings.MarketplaceSettings.test }}</h1>
          <span class="subheading">{{ page.intro }}</span>
        </div>
      </div>
    </div>
  </div>
</header>


<!-- Main Content -->
<div class="container">
    <div class="asso_box">
    {% for post in self.get_children.specific %}
        <!-- <a href="{% pageurl post %}"></a> -->
        {% image post.couverture fill-200x200 %} 
        <div class="overlay"></div>  
        <div class="asso_title">
            <p>{{ post.title }}</p>
        </div>
    {% endfor %}
    </div>
</div>




{% endblock %}
