{% extends "base_content.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-contentpage{% endblock %}

{% block content %}

<!-- Page Header -->
{% image page.couverture max-1000x500 as tmp_photo %}
<header class="masthead" style="background-image: url('{{ tmp_photo.file.url }}')">
    <div class="couverture-marketplace" style="height:{{ tmp_photo.height }}px">
        <div>
            <h1 class="titre-marketplace">{{ page.title }}</h1>
            <h2 class="sous-titre-marketplace">{{ page.intro }}</h2>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
      
        <!-- TAGS -->
        {% if page.tags.all.count %}
            <div class="tags">
                {% for tag in page.tags.all %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button" class="btn btn-outline-secondary btn-tag">{{ tag }}</button></a>
                {% endfor %}
            </div>
        {% endif %}
        <hr>

        {{ page.body|safe }}

        {% for item in page.gallery_images.all %}
            <div style="float: left; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</article>
<hr>
{% endblock %}
