{% extends "base_content.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load dashboard_donation_filters %}

{% block body_class %}template-contentpage{% endblock %}

{% block content %}

<!-- Page Header -->
{% include "content/partials/content_header.html" %}


<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% with project=page %}
            {% include 'content/partials/project_progress.html' %}
            {{ project.body|safe }}

            {% for item in page.gallery_images.all %}
                <div style="float: left; margin: 10px">
                    {% image item.image fill-320x240 %}
                    <p>{{ item.caption }}</p>
                </div>
            {% endfor %}
        {% endwith %}
      </div>
    </div>
  </div>
</article>
<hr>
{% endblock %}
