<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tautoko - Blog</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'startbootstrap-clean-blog-gh-pages/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'startbootstrap-clean-blog-gh-pages/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'startbootstrap-clean-blog-gh-pages/css/clean-blog.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">

  <!-- themes for code view -->
  <link href="{% static 'pygments-css/monokai.css' %}" rel="stylesheet">

</head>
{% block content %}{% endblock %}

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://github.com/blondelg">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Conçu par Geoffroy Blondel sur <a href="https://wagtail.io/">Wagtail</a></p>
      </div>
    </div>
  </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'startbootstrap-clean-blog-gh-pages/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'startbootstrap-clean-blog-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'startbootstrap-clean-blog-gh-pages/js/clean-blog.min.js' %}"></script>
</html>
