<!DOCTYPE html>
{% load static %}
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
    {% block favicon %}
        <link rel="shortcut icon" href="{{ settings.settings.MarketplaceSettings.favicon.file.url }}" />
    {% endblock %}

  <title>Tautoko - Content</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'startbootstrap-clean-blog-gh-pages/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'startbootstrap-clean-blog-gh-pages/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'startbootstrap-clean-blog-gh-pages/css/clean-blog.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">

  <!-- themes for code view -->
  <link href="{% static 'pygments-css/monokai.css' %}" rel="stylesheet">
  
{% block styles %}
    {% if use_less %}
        <link rel="stylesheet/less" type="text/css" href="{% static 'oscar/less/styles.less' %}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'oscar/css/styles.css' %}" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'oscar/css/marketplace_extra.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'oscar/css/content_extra.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
{% endblock %}

</head>

<!-- Nav bar -->
{% block navigation %}
    {% include "oscar/partials/nav_main.html" %}
{% endblock %}

{% block content %}{% endblock %}

<!-- Footer -->
{% block footer %}
    {% include "oscar/partials/footer.html" %}
{% endblock %}

<!-- Bootstrap core JavaScript -->
<script src="{% static 'startbootstrap-clean-blog-gh-pages/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'startbootstrap-clean-blog-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'startbootstrap-clean-blog-gh-pages/js/clean-blog.min.js' %}"></script>
</html>
