{% extends "oscar/dashboard/base.html" %}

{% load category_tags %}
{% load dashboard_tags %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
{% if use_less %}
    <link rel="stylesheet/less" type="text/css" href="{% static "oscar/less/dashboard.less" %}" />
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/dashboard.css" %}" />
{% endif %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "oscar/css/dashboard_extra.css" %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "oscar/js/select2/select2.min.css" %}" />
    <link rel="stylesheet" href="{% static "oscar/css/select2-bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" %}" />
    <link rel="stylesheet" href="{% static "oscar/css/datetimepicker.css" %}" />
{% endblock %}

{% block title %}
    {% trans "Dashboard" %} | {{ block.super }}
{% endblock %}

{% block layout %}
    {% block navbar %}
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a class="navbar-brand" href="#">
                    <img src="/static/oscar/img/ui/dashboard/logo_tautoko.png" alt="{{ homepage_url }}">
                </a>
            </div>
            <ul class="list-unstyled components">
            {% dashboard_navigation user as nav_items %}
            {% for item in nav_items %}
              <li class="active">
              {% if item.is_heading %}
                <a href="#{{ item.label }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle text-secondary">
                  <h4>
                    <i class="{{ item.icon }}"></i>
                    {{ item.label }}
                  </h4>
                </a>
                {% else %}
                <a href="{{ item.url }}" class="text-secondary">
                  <h4>
                    <i class="{{ item.icon }}"></i>
                    {{ item.label }}
                  </h4>
                </a>
                {% endif %}
                {% if item.has_children %}
                <ul class="collapse list-unstyled" id="{{ item.label }}">
                  {% for subitem in item.children %}
                  <li>
                    <a href="{{ subitem.url }}" class="text-secondary">
                      <h4>{{ subitem.label }}</h4>
                    </a>
                  </li>
                {% endfor %}
                </ul>
              {% endif %}

              </li>
            {% endfor %}
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-angle-double-left" id="open" style="display:inline-block"></i>
                        <i class="fas fa-angle-double-right" id="closed" style="display:none"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <li class="nav-item">
                                  <h3>
                                    <a class="text-light" href="{% url 'dashboard:logout' %}">
                                      <i class="fas fa-sign-in-alt"></i> {% trans "Log out" %}
                                    </a>
                                  </h3>
                                </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-fluid dashboard">
                {% block breadcrumbs %}
                <ul class="breadcrumb">
                    <li><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
                </ul>
                {% endblock %}
                <div class="content">
                    {% include 'oscar/dashboard/partials/alert_messages.html' %}
                    {% block header %}
                    <div class="page-header action">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                    {% endblock %}
                    <div class="page-content">
                        {% block content %}
                            {% block dashboard_content %}{% endblock dashboard_content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}
{% block cdn_scripts %}
  {{ block.super }}
  {% if use_less and debug %}
    {# Load the on-the-fly less compiler. Never do this in production. #}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
  {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    <!-- Twitter Bootstrap -->
    <!-- <script src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}"></script>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}

    {# jQuery plugins #}
    <script src="{% static "oscar/js/mousewheel/jquery.mousewheel.js" %}"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}"></script>
    <script src="{% static "oscar/js/inputmask/jquery.inputmask.bundle.js" %}"></script>
    <script src="{% static "oscar/js/select2/select2.min.js" %}"></script>
    <script src="{% static "oscar/js/jquery-sortable/jquery-sortable-min.js" %}"></script>
    <script src="{% static "oscar/js/oscar/dashboard.js" %}"></script>
    <script src="{% static "oscar/js/oscar/RelatedObjectLookups.js" %}"></script>
    <script src="{% static "oscar/js/tinymce/tinymce.min.js" %}"></script>
    <script src="{% static "oscar/js/tinymce/jquery.tinymce.min.js" %}"></script>

    {# dashboard script #}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                if($('#sidebar').hasClass('active')){
                  $('#open').hide();
                  $('#closed').show();
                }
                else{
                  $('#open').show();
                  $('#closed').hide();
                }
            });
        });
        $('li > a').click(function() {
          $('li').removeClass('active');
          $(this).parent().addClass('active');
          });
    </script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}

    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-list a[href="#' + url.split('#')[1] + '"]').tab('show');
    }

    // Change hash for page-reload
    $('.nav-list a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    });

    options = {
      'languageCode': '{{ LANGUAGE_CODE }}'
    };
    oscar.dashboard.init(options);
{% endblock %}
