{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
{% load staticfiles %}


<nav class="main-navbar navbar navbar-expand-lg">
    <div class="col-sm-2">
        <a href="/catalogue">
            <img class="site-image" src="{% static 'tautoko/img/ui/logos/tautoko_cropped.png' %}" alt="Tautoko">
        </a>
    </div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-8">
                {% include "oscar/partials/search.html" %}
            </div>
            <div class="col-sm-4">
                <div class="block-titre">
                    <p class="titre">Donnez du sens à vos achats</p>
                    <a href="/content/{{ settings.settings.MarketplaceSettings.comment_ca_marche.slug }}">
                        <p class="sous-titre">Comment ça marche</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row full-height">
            <div class="col-sm-8 col-catalogue">
                <span class="catalogue" data-toggle="collapse" data-target="#categories" role="button" aria-expanded="false">
                    Catalogue
                    <i class="fas fa-caret-down"></i>
                </span>
            </div>
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="block-menus">
                            {% if request.user.is_authenticated %}
                                <p>Bonjour {{ user.username }}</p>
                                <p><a href="/accounts/"><i class="fas fa-user"></i> Compte</a></p>
                            {% else %}
                                <a href="/accounts/"><i class="fas fa-user"></i> Se connecter</a>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="block-menus">
                        
                            {% if request.user.is_authenticated %}
                                <p>Projets</p>
                                <p><a href="/accounts/"><i class="fas fa-hand-holding-water"></i> Soutenu</a></p>
                            {% else %}
                                <p>Projets</p>
                                <p><a href="/accounts/"><i class="fas fa-hand-holding-water"></i> A soutenir</a></p>
                            {% endif %}

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="block-menus">
                            {% block mini_basket %}{% include "oscar/partials/mini_basket_2.html" %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>



<nav class="sub-navbar navbar-expand-lg">
    <div class="sub-bar-block">

        {% with tag=settings.settings.MarketplaceSettings.menu_tag_1 %}
            {% if tag %}
                <div class="sub-bar-elt">
                    <a href="/catalogue/tag/{{ tag.pk }}">{{ tag }}</a>
                </div>  
            {% endif %}
        {% endwith %}
        
        {% with tag=settings.settings.MarketplaceSettings.menu_tag_2 %}
            {% if tag %}
                <div class="sub-bar-elt">
                    <a href="/catalogue/tag/{{ tag.pk }}">{{ tag }}</a>
                </div>  
            {% endif %}
        {% endwith %}
        
        {% with tag=settings.settings.MarketplaceSettings.menu_tag_3 %}
            {% if tag %}
                <div class="sub-bar-elt">
                    <a href="/catalogue/tag/{{ tag.pk }}">{{ tag }}</a>
                </div>  
            {% endif %}
        {% endwith %}

        {% with tag=settings.settings.MarketplaceSettings.menu_tag_4 %}
            {% if tag %}
                <div class="sub-bar-elt">
                    <a href="/catalogue/tag/{{ tag.pk }}">{{ tag }}</a>
                </div>  
            {% endif %}
        {% endwith %}
        
        {% with tag=settings.settings.MarketplaceSettings.menu_tag_5 %}
            {% if tag %}
                <div class="sub-bar-elt">
                    <a href="/catalogue/tag/{{ tag.pk }}">{{ tag }}</a>
                </div>  
            {% endif %}
        {% endwith %}
        
        {% with tag=settings.settings.MarketplaceSettings.menu_tag_6 %}
            {% if tag %}
                <div class="sub-bar-elt">
                    <a href="/catalogue/tag/{{ tag.pk }}">{{ tag }}</a>
                </div>  
            {% endif %}
        {% endwith %}
        
        {% with label=settings.settings.MarketplaceSettings.menu_label_1 %}
        {% with url=settings.settings.MarketplaceSettings.menu_url_1 %}
            {% if label %}
                <div class="sub-bar-elt">
                    <a href="{{ url }}">{{ label }}</a>
                </div>  
            {% endif %}
        {% endwith %}
        {% endwith %}
        
        {% with label=settings.settings.MarketplaceSettings.menu_label_2 %}
        {% with url=settings.settings.MarketplaceSettings.menu_url_2 %}
            {% if label %}
                <div class="sub-bar-elt">
                    <a href="{{ url }}">{{ label }}</a>
                </div>  
            {% endif %}
        {% endwith %}
        {% endwith %}
        
        {% with label=settings.settings.MarketplaceSettings.menu_label_3 %}
        {% with url=settings.settings.MarketplaceSettings.menu_url_3 %}
            {% if label %}
                <div class="sub-bar-elt">
                    <a href="{{ url }}">{{ label }}</a>
                </div>  
            {% endif %}
        {% endwith %}
        {% endwith %}
        
    </div>

</nav>

<nav class="collapse" display="false" id="categories">
    <div class="">
            <ul class="category-bar">
            {% category_tree as tree_categories %}
                {% for tree_category in tree_categories %}
                    <li>
                        <a href="{{ tree_category.url }}" class="category-elt">
                            {% if tree_category.pk == category.pk %}
                                <strong>{{ tree_category.name }}</strong>
                            {% else %}
                                {{ tree_category.name }}
                            {% endif %}
                        </a>

                        {% if tree_category.has_children %}<ul>{% else %}</li>{% endif %}
                        {% for n in tree_category.num_to_close %}
                            </ul></li>
                        {% endfor %}
                {% endfor %}
            </ul>
    </div>
</nav>




